<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>

    <%- include('navbar.ejs') %>

    <h1>공고 확인 및 신청 페이지 입니다.</h1>
    <h1>공고 제목 : <%= post.title %></h1>
    <h2>공고 내용 : <%= post.content %></h2>
    <h2>멘토일 일자 : <%= post.day %></h2>
    <h2>시작시간  : <%= post.start %></h2>
    <h2>종료 시간 : <%= post.end %></h2>
    <p>멘토 : <%= post.writer.nick %></p>
    <input id="post-id" type="hidden" value="<%= post.id %>">
    <button id="apply">신청하기!</button>
</body>


<script>

    document.getElementById('apply').addEventListener('click', function (){
       alert('신청하기 버튼입니다.'); 

       const xhr = new XMLHttpRequest();
       const id =  document.querySelector('#post-id').value;
       xhr.onload = function() {
            if(xhr.status === 200){
                const msg = JSON.parse(xhr.responseText);
                alert(`${msg}`);
            }else{
                console.error(xhr.responseText);
            }
       }

       xhr.open('POST', '/post/' + id + '/match');
       xhr.send();

    })




</script>

</html>