<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet"/>
    <title><%= title %></title>
</head>
<body>
    <%- include('navbar.ejs') %>
    
    <!-- <div class="main_header">
        <h1>서비스 준비중입니다...</h1>
        <h2>-공고 조회 기능 구현-</h2>
    </div> -->

    <div id = "hero_header"></div>

    <div class="container">

    <% for(let i = 0; i < posts.length; i++) {%>
        <div id="menu2" class="menu">
            
            <div class="comment">
                <h1>제목 : <%= posts[i].title%></h1>
                <h2>멘토 : <%= posts[i].writer.nick%></h2>
                <% 
                  var postId = posts[i].id;
                  console.log(postId)
                %>
                <input class="post-id" value= '<%= posts[i].id%>' type="hidden">
               <div style="text-align: center;">
                <button class="see-detail" onclick="location.href='/post/<%= posts[i].id%>'" >자세히 보기</button>
               </div>
            </div>
        
        </div>
        <% }%>

        <div class="clearfix"></div>
    </div>
       

</div>                   
                                       
</body>                                 
</html>                      