<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>

    <%- include('navbar.ejs') %>

    <h1>매칭내역.</h1>

 
    <fieldset>
        <legend>내강의</legend>
        <table>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>내용</th>
                    <th>날짜</th>
                    <th>시작</th>
                    <th>종료</th>
                    <th>멘티</th>
                </tr>
            </thead>
    <% for(let i = 0; i < posts.length; i++) {%>

            <tbody>
                <td><%= posts[i].title%></td>
                <td><%= posts[i].content%></td>
                <td><%= posts[i].day%></td>
                <td><%= posts[i].start%></td>
                <td><%= posts[i].end%></td>
                <td><%= posts[i].applicant.nick%></td>
            </tbody>

        <% }%>
      </table>
    </fieldset>  

    <fieldset>
        <legend>내수업</legend>
        <table>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>내용</th>
                    <th>날짜</th>
                    <th>시작</th>
                    <th>종료</th>
                    <th>멘토</th>
                </tr>
            </thead>
    <% for(let i = 0; i < posts2.length; i++) {%>

            <tbody>
                <td><%= posts2[i].title%></td>
                <td><%= posts2[i].content%></td>
                <td><%= posts2[i].day%></td>
                <td><%= posts2[i].start%></td>
                <td><%= posts2[i].end%></td>
                <td><%= posts2[i].writer.nick%></td>
            </tbody>

        <% }%>
      </table>
    </fieldset>         

</body>
</html>